@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 10px;
  /* Tamaño del scroll en vertical */
}

*::-webkit-scrollbar-thumb {
  background: rgb(138, 136, 136);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 94, 94);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}